﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table table-striped table-hover">
        <tr>
            <td><strong>Hostname:</strong></td>
            <td>@ViewBag.HostName</td>
        </tr>

        @foreach (var ip in @ViewBag.IPs)
        {
            <tr>
                <td><strong>IP:</strong></td>
                <td>@ip</td>
            </tr>
        }

        <tr>
            <td><strong>OS:</strong></td>
            <td>@ViewBag.OS</td>
        </tr>

        <tr>
            <td><strong>.NET version:</strong></td>
            <td>@ViewBag.Version</td>
        </tr>

    </table>
</div>